@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&family=Poppins:wght@400;600;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2 {
  font-family: 'Poppins', sans-serif;
  margin: 1rem auto;
}

/* override main-layout */

.ant-layout-content > div:first-child {
  margin: 0 !important;
  padding: 0 !important;
}

/* Styles pour les boutons Ant Design */

.ant-btn {
  background-color: #314947 !important;
  border-color: #314947 !important;
  color: #ffffff;
  min-width: 150px;
  box-shadow: none;
  font-size: 0.7rem;
}

.ant-btn:hover {
  background-color: #367171 !important;
  border-color: #367171 !important;
  color: #ffffff;
}

/* Home */
.custom-anchor-link {
  font-size: 1rem;
  padding: 0.8rem;
  margin-top: 2rem;
  color: white !important;
  border: 1px solid rgb(255, 255, 255) !important;
  background-color: rgba(255, 255, 255, 0.115) !important;
  font-size: 0.9rem;
  height: 60px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  min-width: 230px !important;
  transition: 0.3s ease-in-out;
}

.custom-anchor-link:hover {
  transform: translateY(-10px);
  background-color: rgba(255, 255, 255, 0.115) !important;
  border-color: #ffffff !important;
  color: #ffffff;
}

.custom-link-icon {
  background-color: #1b5454;
  color: white;
  padding: 0.3rem;
  border-radius: 50%;
  margin: 0 0.5rem;
}

.custom-link-container {
  max-width: 520px;
  margin: 4rem auto;
}

.ant-picker-calendar-date-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.2rem;
}

.main-layout-content {
  margin: 0;
  padding: 0;
}

.margin-top {
  margin-top: 1rem;
}

.ant-col {
  padding: 0 !important;
}

div .ant-result {
  min-height: 83vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Navigation links */

.nav-link {
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0 1rem;
  transition: 0.3s ease-in-out;
  position: relative;
  text-decoration: none;
}

.nav-link:hover {
  color: #ffffff;
}

.nav-link:before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 15px;
  left: 0;
  background-color: white;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover::before {
  visibility: visible;
  width: 100%;
}

/* Bike Card */
.ant-card {
  transition: 0.3s ease-in-out;
}

.ant-card:hover {
  transform: translateY(-3px);
}

.ant-card-head-title {
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
  color: #212424b5;
}

.bike-container-btn {
  display: flex;
  justify-content: center;
}
