@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&family=Poppins:wght@400;600;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2 {
  font-family: 'Poppins', sans-serif;
  margin: 1rem auto;
}

/* override main-layout */

.ant-layout-content > div:first-child {
  margin: 0 !important;
  padding: 0 !important;
}

/* Styles pour les boutons Ant Design */

.ant-btn {
  background-color: #314947 !important;
  border-color: #314947 !important;
  color: #ffffff;
  min-width: 150px;
  box-shadow: none;
  font-size: 0.7rem;
}

.ant-btn:hover {
  background-color: #367171 !important;
  border-color: #367171 !important;
  color: #ffffff;
}

/* Home */
.custom-anchor-link {
  font-size: 1rem;
  padding: 0.8rem;
  margin-top: 2rem;
  color: #f2f0e5 !important;
  border: 2px solid #314947 !important;
  background-color: #314947 !important;
  font-size: 0.9rem;
  height: 60px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  min-width: 230px !important;
  transition: 0.3s ease-in-out;
}

.custom-anchor-link:hover {
  transform: translateY(-10px);
}

.custom-link-icon {
  background-color: #1b5454;
  color: white;
  padding: 0.3rem;
  border-radius: 50%;
  margin: 0 0.5rem;
}

.custom-link-container {
  max-width: 520px;
  margin: 4rem auto;
}

.ant-picker-calendar-date-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.2rem;
}

.main-layout-content {
  margin: 0;
  padding: 0;
}

.margin-top {
  margin-top: 1rem;
}

.ant-col {
  padding: 0 !important;
}

div .ant-result {
  min-height: 83vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Navigation links - Navbar */

.navbar {
  text-align: left;
  height: 64px;
  padding-inline: 50px;
  line-height: 64px;
  font-weight: 800;
  background-color: #314947;
  font-size: 1.5rem;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 2px 4px 8px #969695b7;
}

@media only screen and (min-device-width: 769px) {
  .navbar-mobile {
    display: none;
  }
}

.navbar-desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-desktop-logo {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Poppins';
}

.navbar-desktop-logo:hover {
  color: #ffffff;
}

.navbar-desktop-list {
  display: flex;
  align-items: center;
}

.navbar-desktop-list-item {
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0 1rem;
  transition: 0.3s ease-in-out;
  position: relative;
  text-decoration: none;
}

.navbar-desktop-list-item:hover {
  color: #ffffff;
}

.navbar-desktop-list-item:before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 15px;
  left: 0;
  background-color: white;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.navbar-desktop-list-item:hover::before {
  visibility: visible;
  width: 100%;
}

/* Navbar mobile */

@media only screen and (max-device-width: 768px) {
  .navbar-desktop {
    display: none;
  }

  .navbar-mobile {
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0;
  }

  .navbar-mobile-burger {
    padding: 0 1.2rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .navbar-mobile-burger svg {
    padding: 0;
    width: 100%;
  }

  .navbar-mobile-burger-icon {
    color: white;
    font-size: 1.4rem;
  }

  .navbar-mobile-drawer,
  .navbar-mobile-menu {
    background-color: #f2f0e5 !important;
  }

  .ant-menu-item-selected {
    background-color: #314947 !important;
    color: white !important;
    font-size: 0.9rem;
  }

  .navbar-mobile-item {
    font-size: 0.9rem;
  }
}

/* Bike Card */
.ant-card {
  transition: 0.3s ease-in-out;
}

.ant-card:hover {
  transform: translateY(-3px);
}

.ant-card-head-title {
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
  color: #212424b5;
}

.bike-container-btn {
  display: flex;
  justify-content: center;
}
/* 
Landing page */

.landing-section {
  display: flex;
  min-height: 93vh;
}

.landing-container-image {
  width: 50%;
  display: flex;
}

.landing-container-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-container-title {
  font-size: 8vh;
  color: #314947;
}

.landing-container-paragraph {
  font-size: 1.1rem;
  color: #314947;
}

/* 
SVG */

.svg-container {
  position: relative;
  display: block;
  width: 50%;
}

.svg-content {
  position: relative;
  display: block;
}

.svg-content svg {
  position: absolute;
  top: 800;
  left: 0;
  display: block;
  width: 1200px;
  height: 900px;
}

@media only screen and (min-device-width: 250px) and (max-device-width: 768px) {
  .landing-section {
    flex-direction: column;
  }

  .svg-container {
    display: block;
    width: 100%;
  }

  .svg-content svg {
    width: 300px;
    height: 350px;
  }

  .landing-container-image {
    height: 45vh;
    width: 100%;
  }

  .landing-container-text {
    height: 45vh;
    width: 100%;
  }

  .landing-container-title {
    font-size: 6vh;
  }

  .landing-container-paragraph {
    font-size: 0.9rem;
    padding: 0 1rem;
  }

  .custom-anchor-link {
    font-size: 0.8rem;
    margin-top: 1rem;
    height: 50px !important;
    min-width: 190px !important;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 411px) {
  .svg-content svg {
    width: 350px;
    height: 350px;
  }
}

@media only screen and (min-device-width: 412px) and (max-device-width: 539px) {
  .svg-content svg {
    width: 430px;
    height: 550px;
  }
}

@media only screen and (min-device-width: 540px) and (max-device-width: 767px) {
  .svg-content svg {
    width: 500px;
    height: 400px;
  }

  .navbar-mobile-burger {
    padding: 0 2rem;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1020px) {
  .landing-section {
    flex-direction: column;
  }

  .svg-content svg {
    width: 800px;
    height: 700px;
  }

  .landing-container-image {
    height: 50vh;
    width: 100%;
  }

  .landing-container-text {
    height: 45vh;
    width: 100%;
  }

  .landing-container-title {
    font-size: 6.5vh;
  }
}

@media only screen and (min-device-width: 1020px) and (max-device-width: 1080px) {
  .svg-content svg {
    width: 600px;
    height: 600px;
  }
}

@media only screen and (min-device-width: 1080px) and (max-device-width: 1280px) {
  .svg-content svg {
    width: 800px;
    height: 650px;
  }

  .landing-container-paragraph {
    font-size: 1rem;
  }
}

/* Bike detail page */

.bike-container {
  padding: 0 1rem;
}

.bike-container-title {
  margin: 3rem auto 2rem;
  padding: 1rem;
  color: #212424b5 !important;
  font-family: 'Poppins';
  font-size: 1.4rem !important;
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1285px) {
  .bike-container-title {
    font-size: 1.3rem !important;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1080px) {
  .bike-container-title {
    font-size: 1.2rem !important;
  }
}

@media only screen and (min-device-width: 240px) and (max-device-width: 767px) {
  .bike-container-title {
    font-size: 1.05rem !important;
  }
}
